body{
	text-align: center;
	background-image: url(veneno.jpg);
	background-size: cover;
	background-position: center;
	margin-left:1px;
}
.content{
	padding-top: 10%;
	text-align: left;
	color:rgb(64,64,64);
	text-shadow: 0px 3px 2px rgb(179, 179, 179);
}
html
{
	height: 100%;
	width:100%;
}
h4{
	font-family: 'Roboto', sans-serif;
	font-size:2em;
	font-weight: 300;
}
.nav-pills > li >a{
	font-size: 15px;
	color:rgb(85, 85, 43);
	font-weight:500;
}
.nav-pills > li > a:hover{
	color:white;
	background:rgba(26, 117, 255,0.5);
}
p{
	padding-left:10%;
}
.btn{
	color:white;
	width:20%;
	font-size:18px;
	background:#737373;
	font-family: 'Indie Flower', cursive;
	padding-top:1%;
	text-align:center;
}